:root {
  --main-tittle-color: #2e2f42;
  --color-white: #ffffff;
  --primary-color: #4d5ae5;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--color-white);
  color: #434455;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-color);
}

.logo:hover,
.logo:focus {
  color: #404bbf;
}

.title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-tittle-color);
}

.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ---------------Шапка сайту--------------- */
.header {
}

.header-navigation {
}

.header-logo {
}

.logo-design {
  color: var(--main-tittle-color);
}

.header-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.header-item {
}

.header-link {
  color: var(--main-tittle-color);
}

.header-link:hover,
.header-link:focus {
  color: #404bbf;
}

.header-address {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.header-address:hover,
.header-address:focus {
  color: #404bbf;
}

/* ---------------Герой--------------- */
.hero {
  background-color: var(--main-tittle-color);
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-white);
}

.hero-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--color-white);
  cursor: pointer;
  background-color: var(--primary-color);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/* ---------------Переваги--------------- */
.advantages {
}
.advantages-title {
}
.advantages-list {
}
.advantages-item {
}
.advantages-title-text {
}
.advantages-text {
  color: #434455;
}

/* ------------Чим ми займаємось------------ */
.about {
}
.about-title {
}
.about-list {
}

.about-item {
}

/* ------------Наша команда------------ */
.team {
  background-color: #f4f4fd;
}
.team-title {
}
.team-list {
  background-color: #ffffff;
}

.team-item {
}
.team-title-photo {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.team-text {
  text-align: center;
  color: #434455;
}

/* ------------Футер------------ */

.footer {
  background-color: var(--main-tittle-color);
}
.footer-logo {
}

.footer-text {
  color: #f4f4fd;
}
